# Database configuration
# Replace the values with your actual database credentials
# if you are won't use password, you can leave it blank like this: mysql://username:@localhost:3306/database_name
DATABASE_URL="mysql://username:password@localhost:3306/database_name"